[submodule "marionette"]
	path = marionette
	url = https://github.com/metrovian/marionette.git
[submodule "radiance"]
	path = radiance
	url = https://github.com/metrovian/radiance.git
[submodule "sanctuary"]
	path = sanctuary
	url = https://github.com/metrovian/sanctuary.git
